.edit-button {
  width: 24px;
  height: 24px;
  padding: 0 6px;
  display: flex;
}

@media screen and (max-width: 450px) {
  .edit-button {
    width: 18px;
    height: 18px;
    padding: 0 3px;
  }  
}